*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display:flex;
    flex-wrap: wrap;
    max-width: 1100;
    margin:0 auto;
    padding:0 2%;
}

#imagem{
    width: 80px;
    height: 80px;

}

.logo{
    width: 50%;
}

header{
    height: 200px;
    padding: 20px 0;
}

.menu{
    padding-top: 30px;
    width:50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
html,body{
    height: 100%;
    overflow: hidden;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative
}

.extras{
    position:absolute;
    bottom:-450px;
    right:-500px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #4b2410;
}

.social-media{
    position: absolute;
    right: 510px;
    top: 200px;
}
.social-media img{
    display: block;
    width: 40px;
    margin: 20px 0;
}
.texto-sobre{
    margin-top: 200px;
    width: 800px;
}
.texto-sobre h1{
    font-size:50px;
}
.texto-sobre p{
    margin: 20px 0;
    color:black;
    font-size: 14px;
    font-weight: bold;
    max-width: 700px;
}

.texto-sobre button{
    border: 0;
    background-color: #663310;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.teste2{
    background-color: red;
    width: 500px;
    height: 500px;
}

.teste3{
    background-color: green;
}